
*.raddbgi
**/worlds
data
uid
*.rdbg
*.exe
*.pdb
.build/
*.sublime-workspace
*.sublime-project
*.vs
*.sln
*.vcxproj
*.vcxproj.*
*.log
*.ini
*.VC.db
*.obj
*.ilk
*.spall
release/
output.txt
*.blend1
renderdoc.cap
*.abs
*.asf
env.jai
save.txt
settings.txt
*_BRAIN
*_PLAYTEST
*_SYNC
*_TAG_LEGEND
*_LOCAL_CHANGES
*charlie.code-workspace
!proj/arcane/windows_glslc.exe
!proj/arcane/linux_glslc
!proj/arcane/macos_glslc
*TRACES/

fetch.bat
thing.bat
*crash-*
*.dmp
*crash.txt
*crash-uid.txt
*crash-version.txt
output2.txt
test_doc.vkn

*.focus-config

*keybinds
*.rdi

google_trace.json

build/*

*google_trace*